* { box-sizing:border-box; }

:root {
    --primary-color:#1a1a1a;
    --bg-color:#4169e1;
}

body {
    background:var(--bg-color);
    color:var(--primary-color);
    display:flex;
    flex-direction:column;
    margin:0 auto;
    font-size:17px;
    max-width:1920px;
    align-items:center;
    justify-content:flex-start;
}

#root {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}

main {
    padding:3.5rem 10rem;
}

header {
    background:linear-gradient(to bottom, #000000, #330033);
    color:#fff;
    padding:1.8rem 5rem;
    width:100%;
}

h1 {
    font-family:"Bungee Inline", sans-serif;
    font-size:3rem;
    margin:0;
    padding:0;
    text-align:center;
    text-transform:uppercase;
    text-shadow:0 0 10px 5px rgba(0.1, 0.1, 0.1, 0.3);
}

h2 {
    color:#efef00;
    font-size:1.5rem;
    margin:0;
    padding:0;
    text-align:center;
    text-transform:uppercase;
    text-shadow:0 0 10px 5px rgba(0.1, 0.1, 0.1, 0.3);
}

.song-list {
    background:#fff;
    color:var(--primary-color);
    border-radius:.5rem;
    display:flex;
    flex-direction:column;
    margin:0 0 0.5rem 0;
    padding:0;
    align-items:flex-start;
    overflow:hidden;
    box-shadow:0 0 10px 5px rgba(0.1, 0.1, 0.1, 0.2);
}

.song-list li {
    cursor:pointer;
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0.2rem 1rem;
    width:100%;
}

.song-list li a {
    color:var(--primary-color);
}

.song-list li.highlighted {
    background:linear-gradient(to bottom, #000000, #330033);
    color:#efef00;
}

.player {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.player .song-display {
    margin-bottom:.75rem;
    width:100%;
}

.player .track-title {
    background:#fff;
    border:1px solid #666;
    margin-bottom:.5rem;
    padding:.2rem .5rem;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
    box-shadow:0 0 10px 5px rgba(0.1, 0.1, 0.1, 0.2);
}

.player .track-title p {
    display:inline-block;
    margin:0;
    padding-left:100%;
    animation:scroll-left 15s linear infinite;
}

.player .timeline-bar {
    position:relative;
    cursor:pointer;
    background:linear-gradient(to bottom, #000000, #330033);
    height:5px;
    width:100%;
}

.player .timeline-bar .progress-bar {
    position:absolute;
    background:linear-gradient(to bottom, #aa00aa, #ff00ff);
    height:100%;
}

/* .player .timeline-bar:hover .progress-bar {
    border-right:2px solid #efef00;
} */

.player .progress-bar .progress-handle {
    display:none;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    width:12px;
    height:12px;
    border-radius:50%;
    background:#efef00;
    cursor:grab;
}

.player .progress-bar .progress-handle.active, .player .timeline-bar:hover .progress-bar .progress-handle {
    display:block;
}

.player .controls {
    display:flex;
    align-items:center;
    column-gap:0.5rem;
}

.player button {
    display:flex;
    background:linear-gradient(to bottom, #aa00aa, #ff00ff);
    color:#fff;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    column-gap:0.2rem;
    outline:none;
    width:50px;
    height:50px;
    box-shadow:0 0 10px 5px rgba(0.1, 0.1, 0.1, 0.1);
}

.player button.play-btn {
    width:70px;
    height:70px;
}

.player button.active {
    color:#efef00;
    border:1px solid #efef00;
}

.visualizer {
  display: flex;
  align-items: flex-end;
  height: 150px;
  gap: 2px;
}

.bar {
  width:7px;
  background:linear-gradient(to bottom, #aa00aa, #ff00ff);
  transition:height 0.1s ease; /* smooth animation */
}

.copyright {
    color:#fff;
    font-size:.8rem;
    margin-top:6.5rem;
    margin-bottom:.2rem;
    text-align:center;
}

.copyright a {
    color:#fff;
    font-weight:700;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width:800px) {
    body { font-size:16px; }
    main {
        padding:3rem;
        width:100%;
    }
    .song-list { margin:0 2.5rem 0.5rem 2.5rem; }
    .visualizer, .player .song-display { padding:0 2.5rem; }
}

@media screen and (max-width:580px) {
    main {
        padding:3rem 1rem;
    }
    header { padding:1.5rem 1.5rem; }
    h1 { font-size:2.7rem; }
    h2 { font-size:1.2rem; }
    .song-list { margin:0 1.5rem 0.5rem 1.5rem; }
    .visualizer, .player .song-display { padding:0 1.5rem; }
    .copyright { padding:0 2rem; }
}