body {
    margin:0 auto;
    font-size:17px;
    max-width:1920px;
}

.song-list {
    display:flex;
    flex-direction:column;
    margin:0 0 2rem 0;
    padding:0;
    align-items:flex-start;
}

.song-list li {
    cursor:pointer;
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0.2rem 0.5rem;
}

.song-list li.highlighted {
    background:#000;
    color:#fff;
}

.player {
    display:flex;
    column-gap:0.5rem;
    justify-content:center;
}

.player button {
    display:flex;
    background:#009;
    color:#fff;
    border-radius:50%;
    height:50px;
    width:50px;
    align-items:center;
    justify-content:center;
    column-gap:0.2rem;
}